<div id="<%= dom_id article %>">
  <p>
    <strong>Nombre del gatito:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong> Raza:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Cuando lo vi:</strong>
    <%= article.when_went %>
  </p>


<p>
    <strong> Pais</strong>
    <%= article.country_id %>
  </p>


</div>
